#chat-attachment {
    color: black;
    padding: 0.2rem;
}

.attachment-icon {
    font-size: 1.3rem;
}

.dropdown-menu {
    min-width: 0;
}

.dropdown-menu.show {
    inset: auto auto 11px 3px;
}

.dropup .dropdown-toggle::after {
    content: none;
}