#chat-attachment {
    color: black;
    padding: 0.2rem;
}

.attachment-icon {
    font-size: 1.3rem;
}

.dropdown-menu {
    min-width: 0;
    cursor: pointer;
}

.dropdown-menu.show {
    inset: auto auto 11px 3px;
}

.dropup .dropdown-toggle::after {
    content: none;
}

.dropdown-item:active {
    background-color: rgb(150, 150, 150) !important;
}

.dropdown-item > label {
    cursor: pointer;
}

.dropdown-item > input {
    position: fixed;
    top: -100em;
}

.attachLabel {
    font-size: larger;
    cursor: pointer;
    margin-bottom: 30px;
}

.attachLabel:hover {
    text-shadow: 0px 0px 2px #7b7b7b;
}

.attachIcon {
    font-size: xx-large;
    cursor: pointer;
}

.attachIcon:hover {
    text-shadow: 0px 0px 2px #7b7b7b;
}

.attachModalBody {
    text-align: center;
    justify-content: center;
}

.attachModalBody > input {
    position: fixed;
    top: -100em;
}

.closeModalButton {
    font-family: inherit;
    /* font-size: 20px; */
    background: rgb(100, 100, 100);
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    margin-left: 10px;
}

.closeModalButton:hover {
    background: rgb(125, 125, 125);
}

#imagePreview {
    display: none;
}

#imagePreview > img {
    width: 70%;
}

#videoPreview {
    display: none;
}

#videoPreview > video {
    width: 70%;
}
