p {
    margin: 0;
}

.chat {
    flex: 0.70;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
}

.chat__header {
    padding: 4px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    min-width: 50%;
    justify-content: space-between !important;
}

.chat__headerInfo {
    /* flex: 1; */
    /* padding-left: 20px; */
    justify-content: left;
    align-items: center;
    display: flex;
    height: 8vh;

    /* flex-direction: column; */  
}
.chat__headerInfo > span {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}
.chat__headerInfo > span > p{
   font-weight: bold;
   font-size: 1.3rem;
}

.chat__headerInfo > img {
    height: 80%;
    max-width: 200px;
    clip-path: circle();
}


.chat__message {
    /* position: relative; */
    font-size: 16px;
    padding: 10px;
    background-color: #ffffff;
    width: fit-content;
    border-radius: 10px;
    margin-top: 10px;
    justify-content: end;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
}

.chat__sender {
  margin-left: auto;
  background-color: #dcf8c6; 
  align-items: flex-end !important; 
}

.chat__timestamp {
    margin-top: auto;
    margin-left: 10px;
    font-size: xx-small;
}

.chat__body {
   flex: 1;
   background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
   background-repeat: repeat;
   background-position: center;
   padding: 30px 20px 10px 20px;
   overflow-y: scroll;
   flex-direction: column-reverse;
   display: flex;
}

.chat__body::-webkit-scrollbar {
    display: none;
}

.chat__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}

.chat__footer > form {
    flex: 1;
    display: flex;
    margin-right: 20px;
    margin-left: 10px;
}

.chat__footer > form > input {
    flex: 1;
    border-radius: 7px;
    padding: 10px;
    border: none;
    outline: none;
}

.chat__footer > form > button {
   /* display: none;  */
   border: none;
   padding: 10px;
   font-size: large;
}

.bi-paperclip{
    font-size: 1.5rem;
    padding: 10px;
}

.bi-mic {
    font-size: 1.5rem;
    align-items: center;
    display: flex;
    /* padding-left: 10px; */
}

.audioButton {
    border: none;
}

#audioButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6px;
    width: 2rem;
}

.chatImage {
    max-width: 25vw;
    max-height: 25vh;
    margin-bottom: 5px;
}

.chatVideo {
    max-width: 25vw;
    max-height: 25vh;
    margin-bottom: 5px;
}

.chatAudio {
    height: 30px;
    max-width:15rem;
}

.audioAvatar {
    position: relative;
    height: 40px;
    margin-right: -5px;
    clip-path: circle();
}

.chatAudio::-webkit-media-controls-panel {
    background-color: #dcf8c6;
    margin-top: -5px;
    padding-left: px;
    size: small;
}
