.sidebarChat {
    display: flex;
    align-items: center;
    padding: 4px 4px 4px 8px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
    height: 8vh;
}

.sidebarChat:hover {
    background-color: #ebebeb;
}

.sidebarChat__info > h2 {
    font-size: 16px;
    margin-bottom: 8px;
}

.sidebarChat__info {
    margin-left: 15px;
}

.sidebarChat > img {
    height: 80%;
    /* max-width: 200px !important; */
    clip-path: circle();
}

span.lastmessage-timestamp {
    /* position: relative; left: 80px; top: -54px; */
    font-size: small;
}

span.lastmessage-text {
    position: fixed;
    margin-right: auto;
}