.sidebarChat {
    display: flex;
    align-items: center;
    padding: 4px 4px 4px 8px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
    height: 8vh;
    justify-content: space-between;
}

.sidebarChat:hover {
    background-color: #ebebeb;
}

.sidebarChat__info > h2 {
    font-size: 16px;
    margin-bottom: 8px;
}

.sidebarChat__info {
    margin-left: 15px;
}

.sidebarChat > span > img {
    height: 80%;
    max-width: 60px !important;
    clip-path: circle();
    /* display: block; */
    /* object-fit: contain; */
}

.lastMessageTime {
    display: flex;
    justify-content: flex-end;
    font-size: small;
}

.sidebarChat > span {
    justify-content: space-between;
    display: flex;
}