.styledInput{
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 1px 0 rgba(31, 38,135,0.37);
    border-radius: 2rem;
    width: 100%;
    /* height: 3rem ; */
    border: none;
    outline: none;
    /* display: inline-block; */
    /* box-shadow: 0 0 0 0.2rem #b9abe0; */
    backdrop-filter: blur(12rem);
    text-indent:8px;
    font-family: 'Raleway', sans-serif;
}

.styledInput:focus{
    background: rgba(255, 255, 255, 0.55);
    display: inline-block;
    box-shadow: 0 0 0 0.2rem #b9abe0;
    backdrop-filter: blur(12rem);
    border-radius: 2rem;
    font-family: 'Raleway', sans-serif;
    text-indent:8px;
}

.input-label-margin {
    margin-left: 7px;
}

.goodInput {
    box-shadow: 0 0 0 0.2rem rgba(0, 255, 0, 0.35) !important;
}

.badInput {
    /* background: rgba(255, 0, 0, 0.05)  !important; */
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.35) !important;
}

.invalidMessage {
    color: rgb(180, 0, 0);
    height: 2rem;

}

.welcomeText{
    color: #ffffff;
    margin: 0 0 3rem 0;
    font-family: 'Pacifico', cursive;
    font-size: 80px;
    text-shadow: -2px 2px 13px rgba(20, 0, 93, 0.85);
}

.signInText{
    margin: 0 0 3rem 0;
    text-align: center;
    font-size: 200%;
}

.mainButton{
  background: linear-gradient(to top left, #eb9cf8 20%, #5eabe2 79%);
  text-align: center;
  justify-content: center;
  text-decoration: solid;
  font-size: 20px;
  letter-spacing: 0.1rem;
  width: 60%;
  height: 3rem;
  border: none;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  padding: 8px;
  box-shadow: 0 1px 0 rgba(31, 38,135,0.37);
}

.mainButton:focus {
    box-shadow: 0 0 0 0.2rem #b9abe0;

}

.mainButton:hover {
    background: rgba(255, 255, 255, 0.55);
    color: black;
    

}

.w-45 {
    width: 45% !important;
    text-align: center;
    justify-content: center;
}

