/* From uiverse.io */
.logout_button > button {
    padding: 1.em 2.1em;
    font-size: 12px;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-right: 4px;
    border-radius: 80px;
   }
   
.logout_button > button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
   }
   
.logout_button > button:active {
    transform: translateY(-1px);
}

.bi-box-arrow-in-right {
    font-size: 20px;
}