/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

.mainContainer{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    width: 35vw;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    color: #000000;
    /* text-transform: uppercase; */
    letter-spacing: 0.1rem;
    /* background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg'); */
}