
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-header {
  color: whitesmoke;
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
}

.w-15-pc {
  width: 15%;
}

.white-text {
  color: whitesmoke;
}

.fade {
  transition: 0.5s linear;
}