.mainContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 40vw;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    border-radius: 10px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.welcomeText{
    margin: 3rem 0 2rem 0;
    font-family: 'Raleway', sans-serif;

}

.signInText{
    margin: 3rem 0 2rem 0;
    text-align: center;
    font-size: 200%;
    /* font-family: 'Raleway', sans-serif; */
}

.styledInput{
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 1px 0 rgba(31, 38,135,0.37);
    border-radius: 2rem;
    width: 120%;
    /* height: 3rem ; */
    padding: 1rem !important;
    border: none;
    outline: none;
    /* display: inline-block; */
    /* box-shadow: 0 0 0 0.2rem #b9abe0; */
    backdrop-filter: blur(12rem);
}

.styledInput:focus{
    display: inline-block;
    box-shadow: 0 0 0 0.2rem #b9abe0;
    backdrop-filter: blur(12rem);
    border-radius: 2rem;
}

.styledInput::placeholder{
    color: #ff0000;
    font-weight: 100;
    font-size: 1rem;
}

.button{
  background: linear-gradient(to right, #d23bea 20%, #2e97e2 79%);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;
  width: 70%;
  height: 3rem;
  border: none;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
}
