.welcomeText{
    margin: 3rem 0 2rem 0;
    font-family: 'Pacifico', cursive;
    font-size: 80px;
    text-shadow: -1px 1px 10px rgba(0, 0, 0, 0.75);
}

.signInText{
    margin: 0 0 3rem 0;
    text-align: center;
    font-size: 200%;
}

.styledInput{
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 1px 0 rgba(31, 38,135,0.37);
    border-radius: 2rem;
    width: 100%;
    /* height: 3rem ; */
    border: none;
    outline: none;
    /* display: inline-block; */
    /* box-shadow: 0 0 0 0.2rem #b9abe0; */
    backdrop-filter: blur(12rem);
    text-indent:8px;
    font-family: 'Raleway', sans-serif;
}

.styledInput:focus{
    background: rgba(255, 255, 255, 0.75);
    display: inline-block;
    box-shadow: 0 0 0 0.2rem #b9abe0;
    backdrop-filter: blur(12rem);
    border-radius: 2rem;
    font-family: 'Raleway', sans-serif;
    text-indent:8px;
}


.mainButton{
  background: linear-gradient(to right, #d23bea 20%, #2e97e2 79%);
  text-transform: uppercase;
  text-align: center;
  flex-direction: column;
  text-decoration: solid;
  font-size: 20px;
  letter-spacing: 0.1rem;
  width: 60%;
  height: 3rem;
  border: none;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  padding: 8px;
}


.hatula {
    margin-left: 7px;
}

.w-45 {
    width: 45% !important;
    text-align: center;
}
