@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-image: url(/wp10419991-bored-ape-wallpapers.jpg); */
  background-size:cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg, #ffbce7 0%,#f6ffb7 30%,#96efff 67%, #7cff75 100%);
  background-size: 1000%;
  -webkit-animation: background 20s linear alternate infinite;
          animation: background 20s linear alternate infinite;
}
  
  @-webkit-keyframes background {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
  
  @keyframes background {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
